body {
    margin-top: min(150px, 10vh);
}

#top-panel {
    user-select: none;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    inset: 0 0 auto 0;

    height: 150px;
    max-height: 10vh;

    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    z-index: 2147483647;

    overflow-x: hidden;
    overflow-y: hidden;
}

#top-panel--logo,
#top-panel--navigation,
#navigation--close {
    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(10px, 1vh);

    padding: 0 min(20px, 2vh);

    height: 100%;
}

#top-panel p,
#navigation-panel p {
    background: none;
}

#top-panel button,
#navigation-panel button {
    background: none;
    border: none;
}

#top-panel--logo,
#top-panel--logo *,
#top-panel--navigation,
#top-panel--navigation *,
#navigation--close,
#navigation--close *,
#navigation-panel,
#navigation-panel * {
    border-radius: 0;

    user-select: none;
    transition:
        background 0.2s ease,
        box-shadow 0.2s ease,
        text-shadow 0.2s ease,
        transform 0.2s ease,
        filter 0.2s ease,
        color 0.2s ease !important;
}

#top-panel div p,
#top-panel div button {
    color: white;
}

#top-panel div:hover {
    cursor: pointer;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

#top-panel--logo {
    align-self: flex-start;
}

#top-panel--logo:hover *,
#top-panel--navigation:hover *,
#navigation--close:hover * {
    text-shadow: 0 0 10px #bbb;
}

#top-panel--navigation:hover img,
#navigation--close:hover img {
    filter: drop-shadow(0 0 10px #bbb);
}

#top-panel--logo p,
#top-panel--navigation p,
#navigation--close p {
    margin: 0;
    padding: 0;
    color: white;

    font-size: min(30px, 3vh);
    font-family: 'Space Grotesk';
}

#top-panel--navigation {
    align-self: flex-end;
}

#top-panel--logo p {
    padding: 0;

    text-shadow: none;
    font-size: min(45px, 4.5vh);
    font-family: 'Space Grotesk';
}

#top-panel--logo:hover p {
    color: rgb(200, 200, 200);

    text-shadow:
        0 0 10px white,
        4px 4px 1px rgb(100, 100, 100);
}

#navigation--close p,
#navigation--close button {
    color: white;
}

#navigation--close {
    justify-content: right;

    top: 0;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

    height: 150px;
    max-height: 10vh;

    cursor: pointer;
}

#top-panel--navigation img,
#navigation--close img,
.chevron {
    margin: 0;
    padding: 0;

    width: min(45px, 4.5vh);
    height: min(45px, 4.5vh);

    box-shadow: none;
    border-radius: 0;
}

#navigation-overlay,
#navigation-overlay * {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#navigation-overlay {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 10px black;

    z-index: 2147483647;
}

#navigation-overlay.active,
#navigation-overlay.active * {
    opacity: 1;
    pointer-events: auto;
}

#navigation-panel {
    position: fixed;

    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);

    width: 40vw;
    height: 100vh;

    right: 0;

    overflow-y: auto;
    user-select: none;
}

#navigation-panel nav ul {
    border-radius: 10px;
    margin: 10px;
    line-height: 1;

    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 10px black;

    color: gray;
}

#navigation-panel nav li {
    position: relative;

    padding: 0;
    margin: 0.5rem 0;
    line-height: 1;
}

#navigation-panel nav div {
    display: flex;
    gap: 5px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navigation-panel nav a {
    font-family: 'Space Grotesk';
    font-size: min(25px, 5vh);

    color: #ccc;
    text-shadow: 0 0 10px black;
    text-decoration: none;

    background: none;
    padding: 0.5rem;
    margin: 0;

    height: 100%;
}

#navigation-panel nav ul ul a {
    font-size: 20px;
}

#navigation-panel nav a:hover {
    transform: none;
    text-decoration: underline;

    color: #777;
    text-shadow: 0 0 10px black;

    cursor: pointer;
}

#top-panel--links {
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    width: 100vw;
    height: 100%;
}

#top-panel--links a {
    font-family: 'Geist';
    font-size: 15px;

    padding: 2.5px;
    color: white;
    text-shadow: none;

    transition:
        color 0.2s ease,
        text-shadow 0.2s ease;
}

#top-panel--links a:hover {
    text-decoration: none;

    color: rgb(213, 213, 213);
    text-shadow:
        4px 4px 1px rgb(165, 165, 165),
        4px 4px 10px rgb(100, 100, 100),
        -2px -2px 1px rgb(100, 100, 100),
        -2px -2px 10px rgb(255, 255, 255);

    transform: none;
}

.dropdown {
    display: none;
}

.dropdown.open {
    display: block;
}

.inline-dropdown {
    display: none;
}

.dropdown.open {
    display: block;
}

.chevron {
    width: 30px;
    height: 30px;
    font-size: 30px;

    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0;

    transform: rotate(-90deg);

    pointer-events: auto;
    transition:
        transform 0.6s ease,
        filter 0.6s ease;
}

.chevron:hover {
    box-shadow: 0;
    filter: drop-shadow(0 0 10px #ffffff);
}

.chevron.open {
    transform: rotate(0deg);
}

@media (max-width: 768px) {
    #navigation-panel {
        width: 75vw;
    }

    #navigation-panel nav ul a {
        font-size: 20px;
    }

    #navigation-panel nav ul ul a {
        font-size: 17.5px;
    }
}

@media (max-width: 1080px) {
    #top-panel--navigation {
        display: flex;
    }

    #top-panel--links {
        display: none;
    }
}
