#top-panel {
    user-select: none;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    inset: 0 0 auto 0;

    height: 100px;
    max-height: 10vh;

    background: linear-gradient(120deg, #222, #444);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    z-index: 2147483646;

    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding-top: min(100px, 10vh);
}

#panel-logo {
    background: none;

    color: white;
    text-shadow: none;
    font-size: min(45px, 4.5vh);

    margin-left: min(25px, 2.5vw);
}

#panel-logo:hover {
    text-shadow: 0 0 min(10px, 2vw) white;
}

#panel-navigation {
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(10px, 10vh);

    padding: 0 min(10px, 10vh);

    height: 100%;

    transition:
        text-shadow 0.2s ease,
        background 0.2s ease,
        box-shadow 0.2s ease;
}

#panel-navigation:hover {
    cursor: pointer;

    background: #333;
    box-shadow: -10px 0 10px #333;

    text-shadow: 0 0 min(10px, 10vh) white;
}

#panel-navigation img,
#panel-navigation p {
    transition:
        filter 0.2s ease,
        transform 0.2s ease;
}

#panel-navigation:hover img {
    filter: drop-shadow(0 0 2.5px white);
}

#panel-navigation:hover p,
#panel-navigation:hover img {
    transform: translateY(-2px);
}

#panel-navigation p {
    padding: 0;
    margin: 0;
    background: none;

    font-size: min(30px, 3vh);
    font-family: 'Fira Code';
}

#panel-navigation button {
    background: none;
    border: none;

    width: min(45px, 4.5vh);
    height: min(45px, 4.5vh);
}

#panel-navigation img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #top-panel {
        height: 40px;
        max-height: 10vh;
    }

    body {
        padding-top: min(40px, 10vh);
    }
}
