/* ---------- Variables ---------- */

:root {
    --large-space: min(2vw, 6rem);
    --medium-space: min(1vw, 3rem);
    --small-space: min(0.5vw, 1.5rem);
}

* {
    font-family: 'Fira Code';

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* ---------- Fonts ---------- */

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-display: swap;

    src:
        url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
        url('./assets/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-display: swap;

    src: url('/profile/assets/fonts/FiraCode-Regular.woff2') format('woff2');
}

/* ---------- Container Definitions ---------- */

body {
    font-size: 22.5px;
    line-height: 1.5;
    color: #eeeeee;
    background: linear-gradient(120deg, black, #38076f);

    transition: background 1s ease;
}

.container {
    position: relative;

    isolation: isolate;
    overflow: hidden;

    width: 90vw;
    height: 80vh;

    margin-left: 5vw;
    margin-top: 5vh;

    padding: 2vw;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow:
        0 25px 50px rgba(255, 255, 255, 0.25),
        inset 0 0 10px rgba(255, 255, 255, 0.25);

    overflow-y: auto;
    overflow-x: hidden;
}

#page-1 .container {
    width: 75vw;
    height: 80vh;

    margin-left: 12.5vw;
    margin-top: 5vh;
}

/* ---------- Text Elements ---------- */

.container p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 1rem;

    transition: background-color 0.2s ease;
}

.container p:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

b,
strong {
    font-style: bold;

    color: #e6e6fa;
    text-shadow: 0 0 25px currentColor;
}

i,
em {
    font-style: italic;

    color: #ffe4ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

a {
    display: inline-block;

    text-decoration: none;
    background: linear-gradient(120deg, #8051ff, #5852ff);
    color: transparent;
    text-shadow: 0 5px 20px #7142ff;

    -webkit-background-clip: text;
    background-clip: text;

    transition:
        transform 0.1s ease-out,
        text-shadow 0.2s ease;
}

a:hover {
    background: linear-gradient(120deg, #8f66ff, #6284ff);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;

    transform: translateY(-2px);
}

code {
    font-family: 'JetBrains Mono';

    background-color: rgb(35, 35, 55);
    color: rgb(170, 190, 220);
    border: 1px solid rgb(181, 186, 255);
    padding: 0.1em 0.2em;
    border-radius: 6px;
    white-space: normal;
}

.dim {
    opacity: 0.6;
}

/* ---------- Titles ---------- */

h1,
h2,
h3 {
    margin-top: var(--medium-space);
    margin-bottom: var(--medium-space);
    font-family: 'JetBrains Mono';
    font-weight: bold;
}

h1 {
    font-size: 50px;
    line-height: 1.2;

    margin-bottom: var(--large-space);

    color: #d4c1ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

h1 b,
h1 strong {
    font-size: 75px;
}

h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong {
    color: #9872ff;
    text-shadow: 0 0 20px #4800ff;
}

h2 {
    font-size: 40px;
    line-height: 1.3;

    color: #ab87ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

h3 {
    font-size: 35px;

    margin: 0.1em 0;
    line-height: 1.4;

    color: #f5d0f5;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

/* ---------- Other Elements ---------- */

blockquote {
    padding: 0.75em;
    padding-left: 1.5em;
    margin: 1em 0;

    color: #e6e6fa;
    background-color: rgba(255, 255, 255, 0.08);

    border: 5px solid #aaaaaa20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);

    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        border 0.2s ease;
}

blockquote:hover {
    background-color: rgba(255, 255, 255, 0.16);
    border: 5px solid #aaaaaa75;
    box-shadow: 0 10px 25px #aaaaaa75;
}

hr {
    margin-left: 0.5em;
    margin-bottom: 2em;

    width: auto;
    height: 10px;

    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    border-radius: 20px;
}

ul,
ol {
    padding: var(--medium-space) var(--large-space);
    margin: var(--large-space) 0;

    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    color: #e6e6fa;
    border-radius: min(0.5vw, 0.2em);
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.04);

    transition: background-color 0.2s ease;

    overflow-y: auto;
    overflow-x: hidden;
}

ul:hover,
ol:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

ul h3,
ol h3 {
    font-family: 'Fira Code';
    font-size: 30px;

    margin: 0.75em 0.25em;
}

#page-2 ul {
    position: absolute;
    align-self: flex-end;

    top: auto;
    margin-bottom: var(--large-space);
    right: var(--large-space);

    text-align: left;

    min-width: 40vw;
    max-width: 60vw;
    min-height: 30vh;
}

#navigation {
    font-size: min(1vw, 20px);

    position: fixed;
    bottom: var(--small-space);

    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    user-select: none;
}

#navigation button {
    font-size: min(4vw, 80px);

    color: #777;
    background: none;
    border: none;

    transition:
        text-shadow 0.2s ease,
        color 0.2s ease;
}

#navigation button:hover {
    text-shadow: 0 0 25px #777;
    cursor: default;
}

#navigation button.active {
    color: #ddd;
    background: none;
    border: none;
}

#navigation button.active:hover {
    color: white;
    text-shadow: 0 0 50px white;
    cursor: pointer;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip-label {
    display: inline-block;
    position: relative;

    font-weight: bold;

    color: #ffffff;
    text-shadow: 0 0 25px rgb(116, 51, 255) !important;
    vertical-align: 0em;
}

.tooltip-text {
    font-size: 17.5px;
    user-select: none;
    display: block;

    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 130%;
    left: 50%;
    padding: 16px 20px;
    transform: translate(-50%, -25px);

    background: rgba(50, 4, 111, 0.75);
    backdrop-filter: blur(4px);

    border: 2px solid rgb(168, 121, 255);
    box-shadow: inset 0 0 10px rgb(168, 121, 255);
    border-radius: 12px;

    white-space: nowrap;
    max-width: calc(100vw - 40px);
    overflow-wrap: break-word;
    pointer-events: none;

    transition: all 0.5s ease-in;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);

    transition: all 0.1s ease-in;
}

/* ---------- Pages and Page Animation States ---------- */

#pages {
    position: relative;
    min-height: 100vh;
}

.page {
    position: fixed;
    text-align: center;
    inset: 0;

    transform: translateY(100vh);
    opacity: 0;
    display: none;

    transition:
        transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.75s ease;
}

.page.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
}

.page.off-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.page.off-down {
    transform: translateY(100vh);
    opacity: 0;
}

.page.exit-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.page.exit-down {
    transform: translateY(100vh);
    opacity: 0;
}

.page.no-transition {
    transition: none !important;
}

.font-display {
    display: inline-block;
    position: relative;

    padding: 1em;
    margin: 0.5em;

    background: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 10px;

    box-shadow:
        0 0 10px white,
        inset 0 0 10px white;

    user-select: none;

    transition: box-shadow 0.2s ease;
}

.font-display:hover {
    box-shadow:
        0 10px 25px white,
        inset 0 0 25px white;
}

.font-display a {
    color: white;
    text-shadow: none;
}

/* ---------- Picture Blocks ---------- */

.picture-block {
    display: flex;
    position: absolute;

    max-width: 20vw;

    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

#about-me-picture-block {
    position: fixed;
    align-self: flex-start;

    margin-bottom: var(--large-space);
    top: auto;
}

.picture-block p {
    max-height: 20vw;

    min-width: 10vw;

    text-align: center;
    margin-top: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

.picture {
    height: auto;
    margin-top: 20px;

    border-radius: min(1vw, 1em);
    border: min(0.1vw, 0.2em) solid white;
    box-shadow: 0 0 20px white;

    user-select: none;
    transition: box-shadow 0.2s ease;
}

.picture:hover {
    box-shadow: 0 25px 25px #aaa;
    cursor: pointer;
}

#profile-picture {
    width: clamp(80px, 7.5vw, min(12.5vw, 225px));
    top: var(--large-space);
}

#iris-picture {
    width: clamp(80px, 12.5vw, min(20vw, 400px));
    left: var(--large-space);
}

#profile-picture p,
#iris-picture p {
    width: 20vw;
    max-height: 5vh;
    font-size: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

/* ---------- Other Miscellaneous Effects ---------- */

#ripple-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2147483647;
}

#favorite-color {
    background: linear-gradient(90deg, #4b9cff, #4d56ff, #6f36ff, #8c3aff);
    color: transparent;
    text-shadow: 0 0 20px #6f43ff;

    -webkit-background-clip: text;
    background-clip: text;
}

#status-bar {
    padding: 1em 2em;
    margin: 2em 0.5em;

    background: linear-gradient(120deg, #222222aa, #555555aa);
    border: 2px solid #aaa;
    box-shadow:
        0 0 20px #aaa,
        inset 0 0 20px #aaa;

    transition: all 0.2s ease;
}

#status-bar:hover {
    box-shadow:
        0 20px 20px #aaa,
        inset 0 0 30px #ffffff;
}

/* ---------- The Responsive Zone ---------- */

@media (max-width: 1024px) and (max-width: 1536px) {
    #page-2 ul {
        max-height: 50vh;
    }

    #about-me-picture-block {
        max-width: 40vw;
    }
}

@media (max-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 10px;
    }

    #about-me-picture-block,
    #page-2 ul {
        position: relative;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
