body {
    background: radial-gradient(circle at center, #153664 0%, transparent 55%), linear-gradient(140deg, #042f47, #10051e 45%, #2b0a63);
}

.font-credits {
    display: flex;
    flex-direction: column;
}

.font-display {
    display: inline-block;
    position: relative;

    font-size: 15px;

    min-width: 50vw;
    max-height: 30vw;
    padding: 2em 2em;

    margin: 0.5em;

    background: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 10px;

    box-shadow:
        0 0 10px white,
        inset 0 0 15px white;

    user-select: none;

    transition: box-shadow 0.2s ease;

    overflow-y: auto;
    overflow-x: hidden;
}

.font-display:hover {
    box-shadow:
        0 10px 25px white,
        inset 0 0 25px white;
}

.font-display a {
    font-size: 20px;
    color: white;
    text-shadow: none;
}

h1 {
    background: linear-gradient(100deg, #2ff8ff, #158cd7);
    color: transparent;
    text-shadow: none;

    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    background: linear-gradient(100deg, #5ebfff, #6929ff);
    color: transparent;
    text-shadow: none;

    background-clip: text;
    -webkit-background-clip: text;
}

h3 {
    margin: 0.5em;
}

@media (max-width: 480px) {
    .font-display {
        padding: 10px 15px;

        min-width: 80vw;
    }
    .font-display a {
        font-size: 10px;
    }
}
