body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Geist';
    font-weight: 300;

    background: radial-gradient(circle at bottom, #0e274a 0%, transparent 55%), linear-gradient(140deg, #020814, #050b1e 45%, #01040c);
    color: #e6f0ff;
}

b {
    color: rgb(184, 213, 255);
}

h1,
h2,
h3 {
    width: 100%;
    margin: 2rem 0;
}

h1 {
    background: linear-gradient(120deg, #aef3ff, #2facff);
    text-shadow: 0 2.5px 20px rgb(0, 98, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    background: linear-gradient(175deg, #50c9de, #0c72b6);
    text-shadow: 0 2.5px 20px rgb(0, 98, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h3 {
    font-family: 'Fira Code';

    background: linear-gradient(175deg, #aef3ff, #2facff);
    text-shadow: 0 2.5px 20px rgb(0, 98, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

p {
    color: #cfe0ff;
}

a {
    display: inline-block;
    background: linear-gradient(120deg, #4da6ff, #00e0ff);
    text-shadow: 0 6px 18px rgba(0, 200, 255, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.1s ease-out;
}

a:hover {
    background: linear-gradient(120deg, #7bb8ff, #6affff);
    text-shadow: 0 0 18px rgba(120, 240, 255, 1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translateY(-2.5px);
}

.solutions {
    display: flex;
    flex-direction: column;

    margin: 0 75px;
    gap: 20px;
}

.solution-left,
.solution-right {
    max-width: 75%;
}

.solution-left h2,
.solution-right h2 {
    font-family: 'Geist';
    margin-top: 10px;
    margin-bottom: 0;
}

.solution-left {
    align-self: flex-start;
    text-align: left;
}

.solution-right {
    align-self: flex-end;
    text-align: right;
}
