* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* ==================== Container Definitions ==================== */

body {
    font-size: 20px;
    background: linear-gradient(120deg, black, #38076f);
    overflow-y: hidden;
}

/* ==================== Containers ==================== */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    isolation: isolate;
    overflow: hidden;

    width: 85vw;
    height: 80vh;

    margin-left: 7.5vw;
    margin-top: 15vh;

    padding: 2vw;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow:
        0 25px 50px rgba(255, 255, 255, 0.25),
        inset 0 0 10px rgba(255, 255, 255, 0.25);

    text-align: center;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.profile-container p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 1rem;

    transition: background-color 0.2s ease;
}

.profile-container p:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* ==================== Pages and Page Animation States ==================== */

#profile-pages {
    position: relative;
    min-height: 100vh;
}

.profile-page {
    position: fixed;
    inset: 0;

    transform: translateY(100vh);
    opacity: 0;
    display: none;

    transition:
        transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.75s ease;
}

.profile-page.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
}

.profile-page.off-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.profile-page.off-down {
    transform: translateY(100vh);
    opacity: 0;
}

.profile-page.exit-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.profile-page.exit-down {
    transform: translateY(100vh);
    opacity: 0;
}

.profile-page.no-transition {
    transition: none !important;
}

#profile-page-text {
    font-family: 'Fira Code' !important;
    font-size: min(1vw, 20px);

    padding: 0;
    margin: 0;

    background: none;
    width: 100%;
    position: fixed;

    top: 11.25vh;
    text-align: center;
}

@keyframes smoothFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#navigation {
    width: 100%;
    bottom: 0;
    left: 0;

    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

#navigation button {
    font-family: 'Fira Code';
    color: #777;
    background: none;
    border: none;
    margin: 0;
    transition:
        text-shadow 0.2s ease,
        color 0.2s ease;
}

#left-navigation,
#right-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left-navigation {
    margin-left: var(--small-space);
}

#right-navigation {
    margin-right: var(--small-space);
}

#leftest-button,
#rightest-button {
    font-size: min(2vw, 40px);
}

#left-button,
#right-button {
    font-size: min(4vw, 80px);
}

#navigation button:hover {
    text-shadow: 0 0 25px #777;
    cursor: default;
}

#navigation button.active {
    color: #ddd;
    background: none;
    border: none;
}

#navigation button.active:hover {
    color: white;
    text-shadow: 0 0 50px white;
    cursor: pointer;
}

#left-navigation {
    left: var(--small-space);
}

#right-navigation {
    right: var(--small-space);
}

/* ==================== Picture Blocks ==================== */

.picture-block {
    display: flex;
    position: absolute;

    max-width: 20vw;

    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.picture-block p {
    max-height: 20vw;

    min-width: 10vw;

    text-align: center;
    margin-top: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

.picture {
    height: auto;
    margin-top: 20px;

    border-radius: min(1vw, 1em);
    border: min(0.1vw, 0.2em) solid white;
    box-shadow: 0 0 20px white;

    user-select: none;
    transition: box-shadow 0.2s ease;
}

.picture:hover {
    box-shadow: 0 25px 25px #aaa;
    cursor: pointer;
}

/* ==================== Other Miscellaneous Effects ==================== */

.aligned-left {
    text-align: left;
}

.aligned-center {
    text-align: center;
}

.aligned-right {
    text-align: right;
}

#ripple-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2147483647;
}

/* ==================== Page 1 ==================== */

#profile-page-1 .profile-container {
    width: 75vw;
    height: 80vh;

    margin-left: 12.5vw;
}

/* ==================== Page 2 ==================== */

#profile-page-2 .profile-container {
    display: flex;
    flex-direction: column;
}

#about-me-header {
    width: 100%;
    margin-bottom: var(--large-space);
}

#about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#about-me-pictures,
#about-me-ul {
    position: fixed;
    flex: 1;
    margin: 0 var(--medium-space);
}

#about-me-pictures {
    left: var(--medium-space);

    min-width: 15vw;
    max-width: 25vw;
}

#about-me-ul {
    right: var(--medium-space);

    min-width: 50vw;
    width: 50vw;
    min-height: 40vh;
}

#profile-picture {
    width: clamp(80px, 7.5vw, min(12.5vw, 225px));
    top: var(--large-space);
}

#iris-picture {
    width: clamp(80px, 12.5vw, min(20vw, 400px));
    left: var(--large-space);
}

#profile-picture p,
#iris-picture p {
    width: 20vw;
    font-size: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

#status-bar {
    padding: 1em 2em;
    margin: 2em 0.5em;

    background: linear-gradient(120deg, #222222aa, #555555aa);
    border: 2px solid #aaa;
    box-shadow:
        0 0 20px #aaa,
        inset 0 0 20px #aaa;

    transition: all 0.2s ease;
}

#status-bar:hover {
    box-shadow:
        0 20px 20px #aaa,
        inset 0 0 30px #ffffff;
}

#favorite-color {
    background: linear-gradient(90deg, #4b9cff, #4d56ff, #6f36ff, #8c3aff);
    color: transparent;
    text-shadow: 0 0 20px #6f43ff;

    -webkit-background-clip: text;
    background-clip: text;
}

/* ==================== The Responsive Zone ==================== */

/* ==================== Phones / Mobile ==================== */

@media (max-width: 480px) {
    #page-description,
    p,
    blockquote,
    ul,
    ol {
        font-size: 7.5px;
    }

    #left-navigation button {
        font-size: 40px;
    }

    .tooltip-text {
        padding: var(--large-space);
        font-size: 5px;
    }

    #navigation p {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .container,
    #profile-page-1 .container {
        width: 90vw;
        height: 80vh;

        margin-left: 5vw;
    }

    #about-me-content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #status-bar {
        font-size: 7.5px;
        max-height: 20vh;

        overflow-y: auto;
    }

    #about-me-ul,
    #about-me-pictures {
        left: 0;
        right: 0;

        margin: 0 var(--large-space);
        position: relative;
    }

    #about-me-ul {
        max-width: 80%;
    }
    #about-me-pictures {
        min-width: 75vw;
    }

    #about-me-pictures p {
        min-width: 70vw;
        padding: var(--medium-space);
    }

    #left-navigation button {
        font-size: 40px;
        height: 40px;
    }

    #right-navigation button {
        font-size: 20px;
        height: 20px;
    }
}
