body {
    font-size: 22.5px;
    background: linear-gradient(120deg, black, #38076f);

    overflow-y: hidden;
}

hr {
    margin-bottom: var(--small-space);
}

/* ==================== Containers ==================== */

.profile-container {
    display: absolute;
    flex-direction: column;
    align-items: center;

    position: absolute;
    isolation: isolate;
    overflow: hidden;

    width: 85vw;
    height: 80vh;

    margin: 10px 7.5vw;

    padding: 2vw;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow:
        0 25px 50px rgba(255, 255, 255, 0.25),
        inset 0 0 10px rgba(255, 255, 255, 0.25);

    text-align: center;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.profile-container p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 1rem;

    transition: background-color 0.2s ease;
}

.profile-container p:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* ==================== Pages and Page Animation States ==================== */

#profile-pages {
    position: relative;
    min-height: 100vh;
}

.profile-page {
    position: relative;
    inset: 0;

    transform: translateY(100vh);
    opacity: 0;
    display: none;

    transition:
        transform 0.6s ease,
        opacity 0.75s ease;
}

.profile-page.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
}

.profile-page.off-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.profile-page.off-down {
    transform: translateY(100vh);
    opacity: 0;
}

.profile-page.exit-up {
    transform: translateY(-100vh);
    opacity: 0;
}
.profile-page.exit-down {
    transform: translateY(100vh);
    opacity: 0;
}

.profile-page.no-transition {
    transition: none !important;
}

#profile-page-text {
    font-family: 'Fira Code' !important;
    font-size: min(1vw, 20px);

    padding: 10px 0 0 0;
    margin: 0;

    background: none;
    width: 100%;

    text-align: center;
}

@keyframes smoothFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#navigation {
    width: 100%;
    bottom: 0;
    left: 0;

    position: fixed;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation button {
    font-family: 'Fira Code';
    color: #777;
    background: none;
    border: none;
    margin: 0;
    transition:
        text-shadow 0.2s ease,
        color 0.2s ease;
}

#left-navigation,
#right-navigation {
    display: flex;
    flex-direction: column;
}

#left-navigation {
    margin-left: var(--small-space);
}

#right-navigation {
    margin-right: var(--small-space);
}

#leftest-button,
#rightest-button {
    font-size: min(2vw, 40px);
}

#left-button,
#right-button {
    font-size: min(4vw, 80px);
}

#navigation button:hover {
    text-shadow: 0 0 25px #777;
    cursor: default;
}

#navigation button.active {
    color: #ddd;
    background: none;
    border: none;
}

#navigation button.active:hover {
    color: white;
    text-shadow: 0 0 50px white;
    cursor: pointer;
}

#left-navigation {
    left: var(--small-space);
}

#right-navigation {
    right: var(--small-space);
}

/* ==================== Picture Blocks ==================== */

.picture-block {
    display: flex;
    position: absolute;

    max-width: 20vw;

    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.picture-block p {
    max-height: 20vw;

    min-width: 10vw;

    text-align: center;
    margin-top: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

.picture {
    height: auto;
    margin-top: 20px;

    border-radius: min(1vw, 1em);
    border: min(0.1vw, 0.2em) solid white;
    box-shadow: 0 0 20px white;

    user-select: none;
    transition: box-shadow 0.2s ease;
}

.picture:hover {
    box-shadow: 0 25px 25px #aaa;
    cursor: pointer;
}

/* ==================== Other Miscellaneous Effects ==================== */

#ripple-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2147483647;
}

/* ==================== Page 1 ==================== */

#profile-page-1 .profile-container {
    width: 75vw;
    height: 80vh;

    margin-left: 12.5vw;
}

/* ==================== Page 2 ==================== */

#profile-page-2 .profile-container {
    display: flex;
    flex-direction: column;
}

#about-me-header,
#interests-header {
    width: 100%;
    margin-bottom: var(--large-space);
}

#about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#about-me-pictures,
#about-me-ul {
    position: fixed;
    flex: 1;
    margin: 0 var(--medium-space);
}

#about-me-pictures {
    left: var(--medium-space);

    min-width: 15vw;
    max-width: 25vw;
}

#about-me-ul {
    right: var(--medium-space);

    min-width: 50vw;
    width: 50vw;
    min-height: 40vh;
}

#profile-picture {
    width: clamp(80px, 7.5vw, min(12.5vw, 225px));
    top: var(--large-space);
}

#iris-picture {
    width: clamp(80px, 12.5vw, min(20vw, 400px));
    left: var(--large-space);
}

#profile-picture p,
#iris-picture p {
    width: 20vw;
    font-size: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

#status-bar {
    padding: 1em 2em;
    margin: 2em 0.5em;

    background: linear-gradient(120deg, #222222aa, #555555aa);
    border: 2px solid #aaa;
    box-shadow:
        0 0 20px #aaa,
        inset 0 0 20px #aaa;

    transition: all 0.2s ease;
}

#status-bar:hover {
    box-shadow:
        0 20px 20px #aaa,
        inset 0 0 30px #ffffff;
}

#favorite-color {
    background: linear-gradient(90deg, #4b9cff, #4d56ff, #6f36ff, #8c3aff);
    color: transparent;
    text-shadow: 0 0 20px #6f43ff;

    -webkit-background-clip: text;
    background-clip: text;
}

/* ==================== Page 3 ==================== */

#interests-header p {
    background: none;
}

#interests-main h2 {
    padding: 0;
    margin: 0;
}

#languages-table {
    width: 75vw;
}

#languages-table thead th {
    font-size: 20px;
}

#languages-table tbody th,
#languages-table tbody td {
    height: 100px;
}

.language-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.language-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    filter: drop-shadow(0 0 5px rgb(130, 130, 130));

    transition: filter 0.2s ease;
}

.language-icon:hover {
    filter: drop-shadow(0 5px 10px rgb(130, 130, 130));
}

#languages-table tbody th:nth-child(1) {
    font-weight: normal;
    font-family: 'Fira Code';
    font-size: min(2rem, 2vw);

    width: min(300px, 15vw);
    padding-left: min(30px, 1.5vw);

    color: rgba(255, 255, 255, 0.75);
}

#languages-table td:nth-child(2) {
    width: min(300px, 15vw);

    font-family: 'Fira Code';
    font-size: min(2rem, 2vw);
}

#languages-table td:nth-child(2) i {
    font-size: min(1.5rem, 1.5vw);
}

#languages-table tbody td:nth-child(3),
#languages-table tbody th:nth-child(3) {
    width: auto;
    text-align: left;
    font-size: 20px;
}

#languages-table tbody i {
    color: #7d5aff;
    text-shadow: 0 0 20px #8a4ffe;
}

.fluency-native {
    color: #21fffb;
    text-shadow: 0 0 10px #0e6b84;
}

.fluency-green {
    color: #21ff67;
    text-shadow: 0 0 10px #0e841a;
}

.fluency-yellow {
    color: #ecff21;
    text-shadow: 0 0 10px #84820e;
}

.fluency-orange {
    color: #ff9f21;
    text-shadow: 0 0 10px #84490e;
}

.fluency-red {
    color: #ff2121;
    text-shadow: 0 0 10px #840e0e;
}

/* ==================== The Responsive Zone ==================== */

@media (max-width: 480px) {
    #page-description,
    p,
    blockquote,
    ul,
    ol {
        font-size: 7.5px;
    }

    #left-navigation button {
        font-size: 40px;
    }

    .tooltip-text {
        padding: var(--large-space);
        font-size: 5px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    #profile-page-text {
        font-size: 10px;
    }

    .container,
    #profile-page-1 .container {
        width: 90vw;
        height: 75vh;

        margin-left: 5vw;
    }

    #about-me-content {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 0;
    }

    #status-bar {
        font-size: 10px;
        max-height: 20vh;

        overflow-y: auto;
    }

    h1 {
        font-size: 30px;
    }
    h1 b {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }

    #about-me-ul,
    #about-me-pictures {
        left: 0;
        right: 0;

        margin: 0 5vh;
        position: relative;
    }

    #profile-picture {
        width: 100px;
        height: 100px;
    }

    #iris-picture {
        width: auto;
        height: 100px;
    }

    #about-me-ul {
        min-width: 85%;
    }

    #about-me-pictures {
        min-width: 75vw;
    }

    #about-me-pictures p {
        min-width: 70vw;
        padding: var(--medium-space);
    }

    #left-button,
    #right-button {
        font-size: 40px;
        height: 40px;
    }

    #leftest-button,
    #rightest-button {
        font-size: 20px;
        height: 20px;
    }

    #interests-main,
    #languages-table {
        width: 75%;
    }

    #languages-table {
        height: 75vh !important;
        overflow-x: auto;
        overflow-y: auto;
    }

    #languages-table thead th {
        font-size: 10px;
    }

    #languages-table tbody td,
    #languages-table tbody th {
        height: 200px;
        font-size: 15px;
    }

    .language-icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
}
