/* ==================== Variables ==================== */

:root {
    --large-space: min(2vw, 6rem);
    --medium-space: min(1vw, 3rem);
    --small-space: min(0.5vw, 1.5rem);
}

body {
    font-family: 'Brass Mono';

    font-size: 25px;
    line-height: 1.5;
    color: #eeeeee;

    transition: background 1s ease;
    overflow-x: hidden;
}

/* ==================== Titles ==================== */

h1,
h2,
h3 {
    font-family: 'JetBrains Mono';
    font-weight: bold;

    margin-top: var(--medium-space);
    margin-bottom: var(--medium-space);
}

h1 {
    font-size: 50px;
    line-height: 1.2;

    margin-bottom: var(--medium-space);

    color: #d4c1ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

h1 b,
h1 strong {
    font-size: 75px;
}

h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong {
    color: #9872ff;
    text-shadow: 0 0 20px #4800ff;
}

h2 {
    font-size: 40px;
    line-height: 1.3;

    color: #ab87ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

h3 {
    font-size: 35px;

    margin: 0.1em 0;
    line-height: 1.4;

    color: #f5d0f5;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

ul,
ol {
    padding: var(--medium-space) var(--large-space);
    margin: var(--large-space) 0;

    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(10px);
    color: #e6e6fa;
    border-radius: min(0.5vw, 0.2em);
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.04);

    transition: background-color 0.2s ease;

    overflow-y: auto;
    overflow-x: hidden;
}

ul:hover,
ol:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

ul h3,
ol h3 {
    font-family: 'JetBrains Mono';
    font-size: 30px;

    margin: 0.75em 0.25em;
}

b,
strong {
    font-style: bold;

    color: #e6e6fa;
    text-shadow: 0 0 25px currentColor;
}

i,
em {
    font-style: italic;

    color: #ffe4ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

a {
    font-family: 'Fira Code';
    font-size: 20px;

    display: inline-block;

    text-decoration: none;
    background: linear-gradient(120deg, #895eff, #4d47ff);
    color: transparent;
    text-shadow: 0 10px 20px #5117ff;

    -webkit-background-clip: text;
    background-clip: text;

    transition:
        transform 0.1s ease-out,
        text-shadow 0.2s ease;
}

a:hover {
    background: linear-gradient(120deg, #a281ff, #8282ff);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;

    transform: translateY(-2px);
}

code,
kbd {
    font-family: 'Fira Code';

    padding: 0.1em 0.2em;
    border-radius: 6px;
    white-space: normal;
}

code {
    background-color: rgb(35, 35, 55);
    color: rgb(170, 190, 220);
    border: 1px solid rgb(181, 186, 255);
}

kbd {
    background-color: rgb(29, 29, 29);
    color: rgb(145, 145, 145);
    border: 1px solid rgb(100, 100, 100);
}

.dim {
    opacity: 0.6;
}

hr {
    margin-left: 0.5em;
    margin-bottom: 2em;

    width: auto;
    height: 10px;

    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    border-radius: 20px;
}

/* ==================== Other Elements ==================== */

p {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 1rem;

    transition: background-color 0.2s ease;
}

p:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

blockquote {
    padding: 0.75em;
    padding-left: 1.5em;
    margin: 1em 0;

    color: #e6e6fa;
    background-color: rgba(255, 255, 255, 0.08);

    border: 5px solid #aaaaaa20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);

    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        border 0.2s ease;
}

blockquote:hover {
    background-color: rgba(255, 255, 255, 0.16);
    border: 5px solid #aaaaaa75;
    box-shadow: 0 10px 25px #aaaaaa75;
}

.brass-mono {
    font-family: 'Brass Mono';
}

.fira-code {
    font-family: 'Fira Code';
}

.jetbrains-mono {
    font-family: 'JetBrains Mono';
}

.fairfax-hd {
    font-family: 'Fairfax HD';
}

.section {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip-label {
    display: inline-block;
    position: relative;

    font-weight: bold;

    color: #ffffff;
    text-shadow: 0 0 25px rgb(116, 51, 255) !important;
    vertical-align: 0em;
}

.tooltip-text {
    font-family: 'Fira Code';
    font-size: 17.5px;
    user-select: none;
    display: block;

    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 130%;
    left: 50%;
    padding: 16px 20px;
    transform: translate(-50%, -25px);

    background: rgba(50, 4, 111, 0.75);
    backdrop-filter: blur(4px);

    border: 2px solid rgb(168, 121, 255);
    box-shadow: inset 0 0 10px rgb(168, 121, 255);
    border-radius: 12px;

    white-space: nowrap;
    max-width: calc(100vw - 40px);
    overflow-wrap: break-word;
    pointer-events: none;

    transition: all 0.5s ease-in;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);

    transition: all 0.1s ease-in;
}

/* ==================== Debug (COMMENT OUT WHEN PRODUCTION) ==================== */

/* * {
    border: 1px solid red !important;
} */

/* ==================== The Responsive Zone ==================== */

/* ==================== Phones / Mobile ==================== */

@media (max-width: 480px) {
    body,
    p,
    blockquote,
    a {
        font-size: 7.5px;
    }

    h1 {
        font-size: 20px;
    }
    h1 b,
    h1 strong {
        font-size: 30px;
    }
    h2 {
        font-size: 17.5px;
    }
    h3 {
        font-size: 15px;
    }

    ul h3,
    ol h3 {
        font-size: 10px;
    }

    hr {
        height: 5px;
    }

    code,
    kbd {
        border-radius: 2.5px;
        border-width: 0.25px;
    }
}
