body {
    background: rgba(100, 100, 100);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

#welcome {
    min-height: 90vh;
    padding: 5vh 0 20vh;

    background-image: url('/assets/iris.jpg');
}

#welcome-header.inactive,
#welcome-buttons.inactive,
#welcome-down.inactive {
    opacity: 0;
    transform: translateY(40px);
}

#welcome-header.active,
#welcome-buttons.active,
#welcome-down.active {
    opacity: 1;
    transform: translateY(0);

    transition:
        opacity 1s ease,
        transform 1s ease;
}

#welcome-header {
    margin: 2em 0 4em 0;
}

#welcome-buttons {
    margin: 2em 1em 2em 0;
    user-select: none;
}

#welcome-buttons button {
    font-family: 'Fira Code';
    font-size: 40px;

    border: none;
    border-radius: 100em;
    margin: 1em;

    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#welcome-buttons button:active {
    transform: translateY(20px);
}

#profile-button {
    padding: min(5rem, 5vw) min(10rem, 5vw);

    background: linear-gradient(120deg, #6a30ffaa, #3532ffaa);
    box-shadow:
        0 0 min(2rem, 2vw) white,
        inset 0 0 min(1rem, 1vw) white;
}

#profile-button:hover {
    background: linear-gradient(120deg, #3c09be, #360ed8);
    box-shadow:
        0 25px 50px rgb(87, 40, 255),
        inset 0 0 25px rgb(117, 67, 255);
}

#navigation-button {
    font-size: 30px;
    background: none;
}

#navigation-button:hover {
    color: #ccc;
    text-shadow: 0 0 10px #ccc;
}

#welcome-down p {
    font-size: min(2rem, 1.5vw);
    user-select: none;

    margin: 0;
    padding: 0;

    background: none;
}

#welcome-down button {
    border: none;
    background: none;
}

#welcome-down button:hover {
    filter: drop-shadow(0 0 20px white);
    cursor: pointer;
}

#welcome-description {
    margin-top: 10vw;
}

#faq {
    background: radial-gradient(circle at center, #09344e 0%, transparent 55%), #1b0346;
}

#faq-table {
    background: rgba(255, 255, 255, 0.05);

    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
}

#connections {
    background: linear-gradient(140deg, #3a0387 0%, #1b0346 25%, #1b0346 75%, #230491);

    text-align: left;
    padding: 2.5%;
    color: #aaa;

    box-shadow: 0 -10px 50px #151515;
    border-top: 10px solid #000000;

    overflow-y: hidden;
}

#connections h2 {
    color: #ddd;
    text-shadow: 0 0 10px #aaa;
}

#connections h3 {
    color: #aaa;
    text-shadow: 0 0 10px #777;
}

#statistics {
    width: 100%;
    text-align: center;
    background: none;
}

.social-icon {
    display: inline-block;

    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 5px rgb(130, 130, 130));

    transition: filter 0.2s ease;
}

.social-icon:hover {
    filter: drop-shadow(0 5px 10px rgb(130, 130, 130));
}

/* ==================== The Responsive Zone ==================== */

@media (max-width: 480px) {
    #welcome-down p {
        display: none;
    }

    #welcome-buttons button {
        margin: 0;
        padding: 20px 30px;
        font-size: 15px;
    }

    #welcome-buttons button:active {
        transform: translateY(10px);
    }
}
