body {
    background-image: url('/assets/iris.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

hr {
    width: 100%;
    height: 10px;
    border: none;

    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#connections {
    display: block;
    position: absolute;

    left: 0;
    top: auto;
    bottom: none;
    height: 40vh;

    width: 100%;
    background: #151515;

    box-shadow: 0 -10px 50px #151515;
    border-top: 10px solid #000000;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

#welcome {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#welcome-header,
#welcome-buttons,
#welcome-down {
    opacity: 0;
    transform: translateY(40px);
}

#welcome-header.active,
#welcome-buttons.active,
#welcome-down.active {
    opacity: 1;
    transform: translateY(0);

    transition:
        opacity 1s ease,
        transform 1s ease;
}

#welcome-header {
    margin-bottom: 2rem;
}

#welcome-buttons {
    user-select: none;
}

#welcome-buttons button {
    font-family: 'Fira Code';

    border: none;
    border-radius: 2em;

    margin: 1em;

    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#welcome-buttons button:active {
    transform: translateY(20px);
}

#profile-button {
    font-size: 40px;
    padding: min(50px, 2vw) min(100px, 2vw);
    border-radius: 25em;

    background: linear-gradient(120deg, #6a30ffaa, #3532ffaa);
    box-shadow:
        0 0 20px white,
        inset 0 0 10px white;
}

#profile-button:hover {
    background: linear-gradient(120deg, #3c09be, #360ed8);
    box-shadow:
        0 25px 50px rgb(87, 40, 255),
        inset 0 0 25px rgb(117, 67, 255);
}

#navigation-button {
    font-size: 40px;
    background: none;
}

#navigation-button:hover {
    color: #ccc;
    text-shadow: 0 0 10px #ccc;
}

#welcome-down {
    position: absolute;
    bottom: 1vh;
}

#welcome-down p {
    user-select: none;

    margin: 0;
    padding: 0;

    background: none;
}

#welcome-down button {
    border: none;
    background: none;
}

#welcome-down button:hover {
    filter: drop-shadow(0 0 20px white);
    cursor: pointer;
}

#welcome-description {
    margin-top: 10vw;
}

#frequently-asked-questions {
    background: rgba(255, 255, 255, 0.1);

    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
}

#connections {
    text-align: left;
    padding: 2.5%;
    color: #aaa;
}

#connections h2 {
    color: #ddd;
    text-shadow: 0 0 10px #aaa;
}

#connections h3 {
    color: #aaa;
    text-shadow: 0 0 10px #777;
}

/* ==================== The Responsive Zone ==================== */

@media (max-width: 480px) {
    #welcome-down p {
        display: none;
    }

    #welcome-buttons button {
        margin: 0;
        padding: 20px 30px;
        font-size: 15px;
    }

    #welcome-buttons button:active {
        transform: translateY(10px);
    }
}
